.mat-table {
  width: 100%;
}

th.mat-header-cell,
td.mat-cell {
  line-height: 1.2em;
  padding-right: 8px;
}

tr.mat-row {
  height: 58px;
}

.mat-column-gravity {
  width: 6em;
}

.app-spinner {
  display: flex;
  justify-content: center;
  padding: 3em 16px;
}
