<h1>Star Wars planets</h1>

<table mat-table [dataSource]="planets" matSort class="mat-elevation-z8">
  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.replace('_', ' ') | titlecase }}</th>
    <td mat-cell *matCellDef="let entity">{{ entity[column + '_formatted'] || entity[column] }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<ng-container *ngIf="isLoading">
    <div class="app-spinner">
        <mat-spinner></mat-spinner>
    </div>
</ng-container>

<ng-container *ngIf="hasError">
    <div class="app-error">
        <span>Failed to load data</span>
        <button mat-flat-button color="primary" (click)="loadPlanets()">Try again</button>
    </div>
</ng-container>
