.mat-table {
  width: 100%;
}

th.mat-header-cell,
td.mat-cell {
  line-height: 1.2em;
  padding-right: 8px;
}

tr.mat-row {
  height: 64px;

  &:nth-child(odd) {
    background-color: #f5f5ff;
  }
}

.mat-column-gravity {
  width: 105px;
}

.app-spinner {
  display: flex;
  justify-content: center;
  padding: 3em 16px;
}
